
apuntes1/cmake-build-debug/CMakeCache.txt

apuntes1/cmake-build-debug/cmake_install.cmake

apuntes1/cmake-build-debug/build.ninja

apuntes1/cmake-build-debug/

apunteunidad1/cmake-build-debug/Testing/Temporary/

apunteunidad1/cmake-build-debug/CMakeFiles/

apunteunidad1/cmake-build-debug/

apuntesunidad2/cmake-build-debug/CMakeFiles/

apuntesunidad2/cmake-build-debug/.cmake/api/v1/query/

apuntesunidad2/cmake-build-debug/.cmake/api/v1/reply/

apuntesunidad2/cmake-build-debug/

apuntesunidad2/CMakeLists.txt

apuntesunidad2/.idea/vcs.xml

apuntesunidad2/.idea/modules.xml

apuntesunidad2/.idea/misc.xml

StructYOtros/.idea/misc.xml

StructYOtros/.idea/modules.xml

StructYOtros/cmake-build-debug/.cmake/api/v1/query/

StructYOtros/cmake-build-debug/Testing/Temporary/

StructYOtros/cmake-build-debug/

StructYOtros/.idea/StructYOtros.iml

StructYOtros/.idea/vcs.xml
